
.App {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header{
  display: flex;
  flex-direction: row;
  height: 50px;
  -ms-text-size-adjust:10px ;
  margin-left: 90%;
  background-color: rgba(240, 255, 255, 0.616);
  font-size: 12px;
}
.contact-btn{
  cursor: pointer;
  display:inline-block;
  flex-direction:column;
  
}
.contact-btn:hover{
  color: green;
}
.sign-in-btn{
  cursor: pointer;
  margin-left: 5px;
  display:inline-block;
  flex-direction:column;

}
.sign-in-btn:hover{
  color: blue;
}
.search-input{
  margin-left: 0px;
  width:300px;
  height:45px;

  
  
}
.search-input:hover{
  color: black;
}
#navbarText {
  background-color:green;
  
  justify-content: space-around;
  align-items: left;
  padding: 10px 20px;
  height: 50px;
  margin-left: 200px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  letter-spacing: 0.5px;
  color:whitesmoke;
  
}
li{
  color:aliceblue
}

  

.container-fluid{
  background-color: green;
  display :flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
}
 

.search-container {
  display: flex;
  justify-content: center;
  
  margin: 20px 0;
  margin-right: 100px;

}

.search-input {
  border:2px solid;
  border-radius: 5px;
  border-color: green;
  padding: 10px;
  outline: none;
  font-size: 1rem;
  width: 40%;
}
p{
margin-right: 100px;
justify-content: space-around;
}
.green{
  font-weight:bolder;
  font-size:28px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(14, 151, 14);
  cursor: pointer;
}
.market{
  margin-left:0;
  font-size:20px ;
}
#featured{
  background-color: #282c34;
  font-size: 20px;
}

.section_padding{
  padding: 4rem 4rem;
  }
  .product-details-container{
    padding: 10px;

  }
  .product-details{
    padding: 40px;

  }
  .product-image{
    border-radius: 10px;
    width:30%;
    height:500px
    
    ;
  }
  .container-card{
    display:flex;
    margin-left:300px; margin-right: 300px;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 40px;
    
    
    

  }
  .card{
    
    width: 300px;
    height:fit-content
  }
  .card-img-top{
    height:350px;
  }
  svg{
    padding-left: 0%;
    align-items: end;
    margin-left: 300px;
    cursor: pointer;
  }
  .product-title{
    text-transform:capitalize;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
  }
  .product-category{
    text-transform: capitalize;
    font-size: 15px;
    color: #bbb5b5;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .product-price{
    font-weight: bolder;
    font-size: 30px;
  }
  .product-stock{
    color: #bbb5b5;;
  }
  .product-description{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
  }
  #add-to-cart-btn{
    width:15rem;
    margin-left:rem;
    margin-top: 0px;
  }
  .btn-cart{
    margin-top: 200px;
    margin-left: 3rem;
    justify-content:space-around;
    padding: 5px;
    border-radius: 0;
  }
  .add-cart{
    background-color: green;
    height: 45px;
    color:white ;
    border-radius: 5px;
  }
  .cart-below{
    justify-content: space-between;
    padding: 20px;
  }
  .cart-section{
    margin-left: 300px;
    padding: 30px;
  }
  .cart-quantity-btn{
    margin-left: 100px;
  }
  .cart-empty{
    font-size: 30px;
    margin-left: 200px;
    padding: 50px;
    font-style:italic;
    font-family: 'Times New Roman', Times, serif;
  }
  #carouselExampleFade{
    width: 50%;
    height: 40%;
    margin-left: 600px;
    margin-top: 20px;
  }
  


  
    
    
    
  


    
    
  
    
  .product-details-container{
    display:flex;
    flex-direction: row;
    margin-left: 430px;
    padding: 40px; padding-left: 0;
  }
  .product-poster{
    height: 550px;
    width: 320px;

  }
    
    

  .footer {
    margin-top: auto;
  background-color: #2d2d32;
  color: aliceblue;
  
  
  }
  .sb_footer {
  display: flex;
  flex-direction: column;
  }
  .sb_footer-links{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;
  }
  .sb_footer-links_div{
  width: 150px;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  }
  .sb_footer-links p{
    color:rgba(240, 248, 255, 0.616);
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  }
  a{
    color:rgb(175,175,179);
    text-decoration: none;
  }
  .sb_footer-links_div h4{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.9rem;
  }
  .sb_footer-links_div{
    font-size: 12px;
    line-height: 15px;
    margin:0.5rem;
    cursor: pointer;
  }
  .sb_footer-below{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
  }
  .sb_footer-below-links{
    display: flex;
    flex-direction: row;
  }
  .sb_footer-below-links p{
    font-size: 13px;
    line-height: 15px;
    margin-left:2rem;
    color: white;
    font-weight: 600;
  }
  hr{
    color:white !important;
    width:100%;

  }
  .sb_footer-copyright p{
    font-size: 13px;
    line-height: 15px;
    color:rgb(255,255,255);
    font-weight: 600;

  }
  @media screen and (max-width:850px) {
    .sb_footer-heading h1{
      font-size:44px;
      line-height: 50px;
    }
    
  }
  @media screen and (max-width:550px) {
    .sb_footer-heading h1{
      font-size:34px;
      line-height: 42px;
    }
    .sb_footer-links div{
      margin: 1rem 0;
    }
    .sb_footer-btn{
      font-size: 14px;
      line-height: 20px;

    }
    .sb_footer-below{
      flex-direction: column;
      justify-content: left;
    }
    .sb_footer-below-links{
      flex-direction: column;
    }
    .sb_footer-below-links p{
      margin-left: 0rem;
      margin-top: 1rem;
    }
  }
  @media screen and (max-width:400px) {
    
  }
    
  @media screen and (max-width: 768px) {
    .header{
      display: flex;
      flex-direction: row;
      height: 20px;
      margin-left: 90%;
      font-size: 10px;
    }
    .search-input {
      width: 100%; 
    }






  }
  @media screen and (max-width: 550px) {
    .header{
      display: flex;
      flex-direction: row;
      height: 20px;
      margin-left: 90%;
      font-size: 10px;
    }
    .search-input {
      width: 100%; 
    }

  }
  @media screen and (max-width: 400px) {
    /* Add specific styles for screens narrower than 400px if needed */
  }
